.column-one-fifth {
  @include span($column-one-fifth);
  height: $column-height;
}
.column-two-fifths {
  @include span($column-one-fifth * 2);
  height: $column-height;
}
.column-three-fifths {
  @include span($column-one-fifth * 3);
  height: $column-height;
}
.column-four-fifths {
  @include span($column-one-fifth * 4);
  height: $column-height;
}
.column-one-quarter {
  @include span($column-one-quarter);
  height: $column-height;
}
.column-one-third {
  @include span($column-one-third);
  height: $column-height;
}
.column-one-half {
  @include span($column-one-half);
  height: $column-height;
}
.column {
  border-top: 1px solid $border-light;
  border-left: 1px solid $border-light;
  padding: 1em;
}
.column.last { border-right: 1px solid $border-light;}
